<li>

    {{name}}

    <button class="devour-button" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}DEVOURED!{{else}}EAT UP!{{/if}}
    </button>

    <button class="delete-button" data-id="{{this.id}}">DELETE!</button>
</li>

{{!-- <li>
    <p class="burger-list-element">{{id}}. {{burger_name}} <button class="devour-button" data-id={{id}}>Devour</button>
    </p>
</li>



<li>
    <p class="burger-list-element">{{id}}. {{burger_name}} <button class="delete-button" data-id={{id}}>Delete</button>
    </p>
</li> --}}